<?xml version="1.0" encoding="utf-8"?>
<App ID="M" TITLE="lianlife" INTERVAL_TIME="3600000" MD5="2d0fc12f4381d53c73e111c62ae7ce55"><AndroidVersion>1</AndroidVersion><ApkFileName>NJLA</ApkFileName><LoadUrl>http://es.lianlife.com/NJLAapk/NJLA.apk</LoadUrl><IosVersion>1.0</IosVersion><IpaUrl>http://www.lianlife.com/efwios</IpaUrl><Launch><LaunchScreen SRC="/common/welcome_bg.png" TIME="500" /></Launch><ModuleDepository MD5="c1e06eb3fa4a7a1e7c6f78e77dad8dad"><Module MODULE_ID="M" URL="http://app.lianlife.com/PROXY/WXIMG/MOBILE/CUSTOMER/M/" MD5="1615e6346e4ec68f0d9e5934e7c34886" /></ModuleDepository><commonResource><Functions><Function MODULE_ID="M" FUNCTION_ID="common" MD5="494f089d0e902ab564f5514cf15144d8" /><!-- <Function  MODULE_ID="M" FUNCTION_ID="cordova" /> --><!-- <Function  MODULE_ID="M"  FUNCTION_ID="Login" /> --><Function MODULE_ID="M" FUNCTION_ID="Stub" MD5="5c755aab05af36263193dd95ee05ed7d" /><!-- <Function  MODULE_ID="M" FUNCTION_ID="Binding" />
		    <Function  MODULE_ID="M"  FUNCTION_ID="Home" /> --></Functions></commonResource></App>
